body {
    font-family: 'Roboto';
    background-color: black;
}

.post {
    width: 400px;
    background-color: white ;
    border-radius: 5px;
    margin: 0 auto;
}

i {
    font-size: 30px;
}

.post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-header h2 {
    font-size: 14px;
    margin: 0;
}

.post-header p {
    font-size: 12px;
    color: #666;
    margin: 0;   
}

.post-content img {
    width: 400px;
    height: 300px;
    
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

}

.left-icons {
    display: flex;
    gap: 7px;
}

.right-icon {
    display: flex;
}

.post-likes {
    padding: 0 15px 0px 15px;
    font-size: 14px;
}
.post-description {
    padding: 0 15px 10px 15px;
    font-size: 14px;
}

.post-description p {
    margin-top: 2px;
    color: #333;
    line-height: 1.4;
}